<launch>
    <machine name="Steve-7" address="192.168.43.134" env-loader="~/catkin_ws_user/devel/env.sh" password="elfmeter" user="root">
    </machine>

    <node machine="Steve-7" name="master_discovery" pkg="master_discovery_fkie"
        type="master_discovery" output="screen">
    </node>

    <node machine="Steve-7" name="master_sync" pkg="master_sync_fkie" 
        type="master_sync" output="screen">
    </node>

    <node name="wheel_pid" pkg="pid" type="controller" output="screen" >
      <param name="Kp" value="5.0" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="0.0" />
      <param name="upper_limit" value="5" />
      <param name="lower_limit" value="-5" />
      <param name="windup_limit" value="5" />
      <param name="cutoff_frequency" value="20" />
      <param name="max_loop_frequency" value="105.0" />
      <param name="min_loop_frequency" value="95.0" />
     </node>

    <node name="PID_setpoint_state_node" pkg="assignment6_PID_controller" type="a6-2.py" output="screen" >
    </node>
</launch>
